@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap");

/* Zmienne */
$font-main: "Open Sans";
$font-logo: "Dancing Script";
$font-header-1: "Kreon";

$font-color-main: white;
$font-color-sections: black;
$details-color: rgb(255, 217, 0);
$color-description: #808080;

$background-color-section-portfolio: rgb(243, 243, 243);
$background-color-description-portoflio: white;

/* Global */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.section-header {
	color: $font-color-sections;
	padding-top: 110px;
	padding-bottom: 60px;
}

.section-header h1 {
	font-size: 40px;
	font-family: $font-main;
	color: $font-color-sections;
	font-weight: 800;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	text-align: center;
	padding-bottom: 5px;
}

.section-header h2 {
	font-size: 16px;
	letter-spacing: 1px;
	font-family: $font-header-1;
	font-style: italic;
	color: $color-description;
	padding: 0;
	margin: 0;
	text-align: center;
}

/*nav and heading*/

.nav-header {
	background-image: url(/images/twilight-8171206_1920.jpg);
	background-position: center;
	background-size: cover;
	height: 700px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.wrapper-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper-nav .logo {
	font-family: $font-logo;
	font-size: 30px;
	color: $details-color;
	padding: 0 20px;
}

.menu-tabs {
	list-style-type: none;
}

.menu-tabs li {
	display: inline-block;
	font-family: $font-main;
	font-weight: 600;
	color: $font-color-main;
	font-size: 14px;
	padding: 10px 21px;
}

.wrapper-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 570px;
	padding: 0 20px;
}

.wrapper-header h1 {
	color: $font-color-main;
	font-family: $font-header-1;
	font-style: italic;
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 2px;
	margin: 0;
}

.wrapper-header h2 {
	color: $font-color-main;
	font-size: 72px;
	font-family: $font-main;
	letter-spacing: 2px;
	margin: 30px 0;
}

.btn {
	height: 65px;
	width: 240px;
	background: $details-color;
	border: 0;
	color: $font-color-main;
	font-family: $font-main;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
}

/* Services */

.wrapper-services {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 85px;
	padding-top: 20px;
}

.service {
	padding: 0 10px;
}

.service i {
	font-size: 40px;
	height: 70px;
	width: 70px;
	line-height: 64px;
	border: 3px solid $details-color;
	border-radius: 50%;
	color: $details-color;
}

.service h2 {
	font-family: $font-main;
	font-size: 18px;
}

.service p {
	font-family: $font-header-1;
	color: $color-description;
	font-size: 14px;
}

/* Portfolio */

.portfolio-section {
	background-color: $background-color-section-portfolio;
	display: flex;
	justify-content: center;
}

.wrapper-portfolio {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 90px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project {
	width: 140px;
	height: 400px;
	flex: 1 0 calc(33.33% - 20px);
	margin: 20px 10px;
}

.project .img {
	overflow: hidden;
	height: 300px;
}

.project .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project .description {
	background-color: $background-color-description-portoflio;
	text-align: center;
	height: 100px;
	padding: 25px 0;
}
.description h2 {
	color: black;
	font-family: $font-main;
	font-size: 18px;
	font-weight: 800;
	padding: 0;
	margin: 0;
}

.description h3 {
	color: $color-description;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	font-family: $font-header-1;
	padding: 0;
	margin: 0;
}

/* Footer */

.container-footer {
	max-width: 1000px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	padding-top: 20px;
}

.wrapper-footer {
	display: flex;
}

.copy {
	flex-grow: 1;
	flex-basis: 0;
}

.copy h1 {
	font-size: 14px;
	font-family: $font-main;
	color: $color-description;
}

.media {
	flex-grow: 2;
	flex-basis: 0;
}

.media ul li {
	background: black;
	color: $font-color-main;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border-radius: 50%;
	margin: 0 2px;
}

.media ul {
	list-style-type: none;
	padding: 0 60px;
}

.media ul li {
	display: inline-block;
}

/* Media */

@media (max-width: 767px) {


	.section-header {
		padding-top: 65px;
		padding-bottom: 20px;
	}
	.services {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.service {
		padding: 20px;
	}

	.portfolio {
		flex-direction: column;
		align-items: center;
	}

	.project {
		width: 500px;
		height: 100px;
		margin: 20px 10px;
		flex: 1;
	}

	.project .img {
		overflow: hidden;
		height: 300px;
	}

	.copy {
		text-align: center;		
	}

	.media {
		text-align: center;
	}

	
}

@media (max-width: 576px) {

	.wrapper-header {
		height: 530px;
	}

	.wrapper-header h1 {
		font-size: 24px;
	}

	.wrapper-header h2 {
		font-size: 60px;
	}
	.project {
		width: 400px;
	}

	.media ul {
		padding: 0 10px;
	}

	.media ul li {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
	}
}

// /*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */
